body {
  background-color: orange;
  margin: 0;
  padding: 0;
}
.nav {
  position: relative;
  top: 0px;
  margin: 0px;
  padding: 0px;
  color: black;
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
  background-color: blue;
}
.txt {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: red;
}
